# Flutter / Dart
flutter/.dart_tool/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/.pub/
flutter/.pub-cache/
flutter/.packages
flutter/build/
flutter/coverage/

# Generated docs
flutter/doc/api/

# Logs and temporary files
*.log
*.tmp
*.temp
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# IDE files
flutter/.idea/
flutter/*.iml
flutter/*.ipr
flutter/*.iws
.vscode/*

# Android
flutter/android/.gradle/
flutter/android/local.properties
flutter/android/captures/
flutter/android/app/debug/
flutter/android/app/profile/
flutter/android/app/release/

# iOS / macOS
**/flutter/ios/Flutter/.last_build_id
flutter/ios/Flutter/ephemeral/
flutter/ios/Flutter/Generated.xcconfig
flutter/ios/Flutter/flutter_export_environment.sh
flutter/ios/.symlinks/
flutter/ios/Pods/

flutter/macos/Flutter/ephemeral/
flutter/macos/Flutter/GeneratedPluginRegistrant.swift
flutter/macos/Pods/

# Linux / Windows generated build files
flutter/linux/flutter/ephemeral/
flutter/windows/flutter/ephemeral/

# Symbolication and obfuscation
app.*.symbols
app.*.map.json

# Misc VCS / tooling remnants
.history/
.svn/
.atom/
.build/
.buildlog/
.swiftpm/
migrate_working_dir/
